@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default;
}

@theme {
  --font-jose-reg: "JoseR";
  --font-jose-bold: "JoseB";
  --color-c1: oklch(0.792 0.209 151.711);
}

@font-face {
  font-family: "JoseR";
  src: url("../fonts/JosefinSans-Regular.ttf");
}
@font-face {
  font-family: "JoseB";
  src: url("../fonts/JosefinSans-SemiBold.ttf");
}
button {
  @apply font-light;
}

* {
  scrollbar-width: thin;
  font-family: "JoseR";
}
.grad1 {
  @apply bg-gradient-to-r from-green-500 to-sky-600;
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-thumb {
  @apply bg-slate-500;
  border-radius: 2px;
}

.fx {
  @apply flex items-center justify-center;
}
